html, body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #ffefd1;
    cursor: none;
}

/* TODO -> El cursor en mozila no siempre se esconde, debe haber un espacio que no es html */

a {
    cursor: none;
}

.d-none {
    display: none;
}

#left-nav {
    position: fixed;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid #000;
    background-color: #ffefd1;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    border-right: 1px solid transparent;
    border-image: linear-gradient(to bottom, transparent 5%, black 40%, black 60%, transparent 95%);
    border-image-slice: 1;
    min-height: 100vh;
}

#left-nav img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

#left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

#left-nav li {
    margin-bottom: 15px;
}

#left-nav a {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: color 0.3s;
}

#left-nav a:hover {
    color: #24d40d;
}

#main-content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
    transition: margin-left 0.3s ease;
}

/* * Ajustes del cursor */
.custom-cursor {
    width: 20.3px;
    height: 28px;
    background-image: url('images/cursor.png');
    background-size: cover;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    z-index: 9999;
    display: none;
}

@media (min-width: 768px) {
    .custom-cursor {
        display: block;
    }
}

/* Responsive */
@media (max-width: 768px) {
    #left-nav {
        transform: translateX(-100%);
        background-color: #000000;
    }

    #left-nav a {
        color: #ffefd1;
    }

    #main-content {
        margin-left: 0;
        width: 100%;
    }

    #left-nav.active {
        transform: translateX(0);
    }

    #menu-toggle {
        position: fixed;
        top: 20px;
        left: 20px;
        background: #333;
        color: #fff;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 1000;
    }

}
