html,
body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #eae4d3;
    cursor: none;
}

/* TODO -> El cursor en mozila no siempre se esconde, debe haber un espacio que no es html */

a {
    cursor: none;
}

.d-none {
    display: none;
}

.bg-color-red {
    background-color: #fe3e00;
}
.bg-color-orange {
    background-color: #ff7f00;
}
.bg-color-blue {
    background-color: #008583;
}

#lang-toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
}

#lang-toggle-trans {
    width: auto !important;
    /* Override inline width */
    color: #000000;
    font-size: 1em;
    text-decoration: underline;
    padding: 5px;
    /* Add some padding for better touch/click area */
    background-color: transparent;
    /* Make background transparent */
    border: none;
    /* Remove default button border */
}

#left-nav {
    position: fixed;
    font-weight: 800;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    border-right: 1px solid #000;
    background-color: #eae4d3;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
    min-height: 100vh;
}

#left-nav img {
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
}

#left-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

#left-nav li {
    margin-bottom: 15px;
}

#left-nav a {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: color 0.3s;
}

#left-nav a:hover {
    color: #fe3e00;
}

#main-content {
    margin-left: 220px;
    padding: 20px;
    width: calc(100% - 270px);
    transition: margin-left 0.3s ease;
}

/* * Ajustes del cursor */
.custom-cursor {
    width: 20.3px;
    height: 28px;
    background-image: url('images/cursor.png');
    background-size: cover;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    z-index: 9999;
    display: none;
}

/* About Section Styles */
.content-section-about {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

#welcome-trans {
    font-weight: 800;
}

.about-text-content {
    flex: 1;
}

.about-image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
    margin-top: 80px;
}

.about-image-content img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* Projects Section Styles */
#projects {
    display: none;
    padding: 20px;
}

#projects-trans {
    font-weight: 800;
}

.project-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.project-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    /* TODO -> When descriptions get to fill all the width, delete this bottom margin */
    margin-bottom: 2px;
}

.project-images-container img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.project-description {
    color: #000000;
    padding-left: 12px;
    padding-top: 12px;
}

.project-description h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 5px;
}

.project-description p {
    line-height: 1.6;
}

@media (min-width: 768px) {
    .custom-cursor {
        display: block;
    }

    #about {
        margin: 0 auto;
        max-width: 75%;
    }

    .content-section-about{
        max-width: unset;
        justify-content: space-between;
        margin-left: 60px;
    }

    .about-text-content {
        max-width: 40%;
    }
}

/* Responsive */
@media (max-width: 768px) {
    #left-nav {
        transform: translateX(-100%);
        background-color: #000000;
    }

    #left-nav a {
        color: #eae4d3;
    }

    #main-content {
        margin-left: 0;
        width: 100%;
        /* Add padding-top to push content below the fixed elements */
        padding-top: 60px; /* Adjust this value based on the height of your fixed elements */
        box-sizing: border-box; /* Include padding in the element's total width and height */
    }

    #left-nav.active {
        transform: translateX(0);
        z-index: 1001;
    }

    #menu-toggle {
        position: fixed;
        top: 20px;
        left: 20px;
        background: none;
        color: #000000;
        font-weight: bolder;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        z-index: 1000;
    }

    /* Mobile-specific for About section */
    .content-section-about {
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .about-image-content {
        max-width: fit-content;
        margin-top: 20px;
    }
}